<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
<title>Boletos</title>

</head>

<body>

	<section class="layout-content" layout:fragment="corpo">
		<nav class="navbar navbar-expand-md bg-light">
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><i class="oi oi-caret-right"></i>
						<span>Gerando Boleto</span></li>
				</ul>
				<a class="btn btn-primary btn-md" role="button"
					onClick="window.print()"> <span class="oi oi-plus"
					title="imprimir" aria-hidden="true"></span> <span>Imprimir</span>
				</a>
			</div>
		</nav>
		<div th:replace="fragments/alert"></div>
		<h4>
			BANCO DO BRASIL | 001-9 | 00198.49546 10015.336083 00007.702194 1 <span
				th:text="${compra.boleto.numeroBoleto}"></span>
		</h4>
		<hr>
		<div style="float: left; width: 60%">
			<p>Local de pagamento</p>
			<h6>PAGÁVEL EM QUALQUER BANCO ATÉ O VENCIMENTO</h6>
			<hr>
			<p>Data do documento</p>
			<h6 th:text="${compra.dataCompra}"></h6>
			<hr>
			<p>Sacador</p>
			<h6>Sistema de pagamentos Integrador</h6>
			<h6>Av. São Paulo, 1007</h6>
			<h6>Centro - Portalegre/RN - CEP: 59810-000</h6>
		</div>
		<div style="float: right; width: 40%">
		</div>
		<p>Vencimento
		<p>
		<h6 th:text="${compra.boleto.dataVencimento}"></h6>
		<hr>
		<p>Valor documento</p>
		<h6>R$ <span
				th:text="${compra.valor}"></span></h6>
		<hr>
		<p>Cedente</p>
		<h6 th:text="${compra.usuario.nome}"></h6>
		<h6 th:text="${compra.usuario.email}"></h6>
		<div style="clear: both"></div>
		<div class="pl-2 p-2">
			<a th:href="${origin}" class="btn btn-success">Voltar</a>
		</div>

		<br>

	</section>

</body>
</html>